@model DebutRapid.Models.Poezie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Poezie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titlu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titlu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numar_strofe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numar_strofe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
