@model IEnumerable<DebutRapid.Models.Poezie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>Titlu</th>
        <th>Autor</th>
        <th>Numar Strofe</th>
        <th>Volum</th>
        <th>Actiuni</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@Html.DisplayFor(modelItem => item.titlu)</th>
            <th>@Html.DisplayFor(modelItem => item.autor)</th>
            <th>@Html.DisplayFor(modelItem => item.numar_strofe)</th>
            <th>@Html.DisplayFor(modelItem => item.volum)</th>

            <th>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </th>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Adauga Poezie", "Create")
</p>
